<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Sinatra App</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%#
        Anything in public/ will be served directly.
        Example: To use public/assets/css/application.css in this html, do this.
        <link rel="stylesheet" href="assets/css/application.css">

        To use public/assets/js/application.js in this html, do this.
        <script src="assets/js/application.js"></script>
    %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
